:root {
  /* Colors */
  --primary-bg: rgba(0, 0, 0, 0);
  --secondary-bg: black;
  --primary-color: aqua;
}

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  background-image: url("../public/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 30%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}

#container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#board {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.square {
  flex: 33.333333%;
  height: 33.333333%;
  text-align: center;
  border: none;
  padding: 20px;
  background-color: var(--primary-bg);
  font-weight: 500;
  font-size: 4rem;
  color: var(--primary-color);
}

.border-right {
  border-right: 5px solid var(--primary-color);
}

.border-bottom {
  border-bottom: 5px solid var(--primary-color);
}

#status {
  display: flex;
  height: 10%;
  width: 100%;
  margin: 5% auto 0;
  border: 3px solid var(--primary-color);
  border-radius: 20px;
  background-color: var(--secondary-bg);
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#container .container-buttons {
  background-color: var(--primary-bg);
  border: 3px solid var(--primary-color);
  border-radius: 15px;
  margin: 0 auto;
  width: 48%;
  height: 60%;
  background-color: var(--secondary-bg);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
  box-sizing: border-box;
}

#container .container-buttons:hover {
  background-color: var(--primary-color);
  color: var(--secondary-bg);
  border-color: var(--secondary-bg);
}

#home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home button {
  width: 80%;
  height: 15%;
  margin: 30px auto;
  border: 5px solid var(--primary-color);
  border-radius: 30px;
  background-color: var(--secondary-bg);
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

#home button:hover {
  color: var(--secondary-bg);
  border-color: var(--secondary-bg);
  background-color: var(--primary-color);
  font-weight: 700;
}

#mode {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);
}

.drop-down {
  width: 100%;
}

#mode h3 {
  margin-left: 5px;
}

#mode button {
  height: 40%;
  width: 40%;
  margin: 10% auto 0;
  outline: none;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--secondary-bg);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}

#mode button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-bg);
  border-color: var(--secondary-bg);
  font-weight: 700;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  width: 100%;
}

#table-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
  position: relative;
}

#table-container table {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  overflow-y: scroll;
  position: absolute;
  top: 75px;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.101);
  color: var(--primary-color);
}

th,
tr {
  text-align: left;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover,
tbody td:hover:before {
  background-color: rgba(255, 255, 255, 0.2);
}

#table-container .result {
  margin-top: 3%;
}

#table-container button {
  height: 8%;
  width: 40%;
  margin: 0 auto;
  outline: none;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--secondary-bg);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

#table-container button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-bg);
  border-color: var(--secondary-bg);
  font-weight: 500;
}

@media screen and (max-width: 1120px) {
  main {
    width: 40%;
  }
}

@media screen and (max-width: 950px) {
  main {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  main {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 70%;
  }
}

@media screen and (max-width: 520px) {
  main {
    width: 85%;
  }
}

@media screen and (max-width: 430px) {
  main {
    width: 90%;
  }

  #status,
  #container .container-buttons {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 430px) {
  main {
    width: 95%;
  }

  #status,
  #container .container-buttons {
    font-size: 1.3rem;
  }

  #home button {
    font-size: 1.6rem;
  }
}

@media screen and (min-height: 950px) {
  main {
    width: 65%;
  }
}